<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col>
            <button ion-button class="b1" (click)="goToHome()">
              <ion-img class="img" src="assets/images/homeLogo.png"></ion-img>
            </button>
          </ion-col>
          <ion-col>
            <ion-img src="assets/images/navbarbg.png"></ion-img>
          </ion-col>
          <ion-col>
            <button ion-button class="b2" (click)="goToCheckout()">
              <ion-img class="img" src="assets/images/cartLogo.png"></ion-img>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>