app-infocontact {
    color:white
  }

  .block1{
    height:50%;
  }
  
  .poeme{
    color:black;
    font-family:"Brush Script MT";
    display: flex;
    justify-content: center;
    font-size: medium; 
  }
  .thibault{
    color:white;
    font-family:"Brush Script MT";
    display: flex;
    justify-content: center;
    font-size: xx-large;
  }
  
  .globalcontent{
    justify-content: center;
    align-items: center;
  }