<ion-content>
  <ion-text class=thibault>
    Le bateau de Thibault
  </ion-text>
  <ion-img src='./assets/images/TIG@3x.png' class=block1>
  </ion-img>
  <app-infocontact></app-infocontact>
  <ion-text class=poeme>
    Qu'il est chaud le soleil
    Quand nous sommes en vacances
    Y a d'la joie, des hirondelles
    C'est le sud de la France
    Papa bricole au garage
    Maman lit dans la chaise longue
    Dans ce joli paysage
    Moi, je me balade en tongs

    Que de bonheur !
    Que de bonheur !
  </ion-text>
</ion-content>