<ion-content>
  <h1>{{item.name}}</h1>
  <ion-img src={{item.image}}></ion-img>
  <text>
    XXX YYY ZZZ <br>
  </text>
  <View>
    <Text class=texte>
      Qu'il est chaud le soleil <br>
    </Text>
    <Text class=texte>
      Quand nous sommes en vacances <br>
    </Text>
    <Text class=texte>
      Y a d'la joie, des hirondelles <br>
    </Text>
    <Text>
      C'est le sud de la France <br>
    </Text>
    <Text class=texte>
      Papa bricole au garage <br>
    </Text>
    <Text class=texte>
      Maman lit dans la chaise longue <br>
    </Text>
    <Text class=texte>
      Dans ce joli paysage <br>
    </Text>
    <Text class=texte>
      Moi, je me balade en tongs <br>
    </Text>
  </View>
  <Text class=texte>
    Que de bonheur ! <br>
  </Text>
  <Text class=texte>
    Que de bonheur !
  </Text>
</ion-content>