<ion-header>
  <ion-toolbar>
    <ion-title>produits</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <button ion-button (click)="onLoadCategorie(0)">
        <ion-img src="assets/images/poulpe.png"></ion-img>
        <label>Poissons</label>
      </button>
    </ion-row>
    <ion-row>
      <button ion-button (click)="onLoadCategorie(1)">
        <ion-img src="assets/images/poulpe.png"></ion-img>
        <label>Coquillages</label>
      </button>
    </ion-row>
    <ion-row>
      <button ion-button (click)="onLoadCategorie(2)">
        <ion-img src="assets/images/poulpe.png"></ion-img>
        <label>Crustacés</label>
      </button>
    </ion-row>
    <ion-row>
      <button ion-button (click)="onLoadCategorie(3)">
        <ion-img src="assets/images/poulpe.png"></ion-img>
        <label>Promotions</label>
      </button>
    </ion-row>
  </ion-grid>
</ion-content>