app-infocontact {
  color:white
}
.block1{
  height:50%;
}

.b1{
  color:white;
  background-color: rgba(0,0,0,0.25);
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.thibault{
  color:white;
  font-family:"Brush Script MT";
  display: flex;
  justify-content: center;
  font-size: xx-large;
}

.globalcontent{
  justify-content: center;
  align-items: center;
}